/* 
seletor (seleciona um elemento html para aplicar a regra CSS) {
    propriedade (caracteristica que a gente deseja alterar): valor (como a gente quer que a caracteristca fique)
}
*/

.sudeste {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    color: rgb(4, 4, 59);
}

.nordeste {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: rgba(139, 8, 8, 0.834);
}

.norte {
    font-family: 'Courier New', Courier, monospace;
    font-size: 72px;
    color: rgba(180, 189, 17, 0.883);
}
