header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}


