* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
     /* Variáveis CSS */
    --cor-primaria: #2563eb;
    --cor-secundaria: #1e40af;
    --cor-texto: #1f2937;
    --cor-texto-claro: #6b7280;
    --cor-fundo: #ffffff;
    --cor-fundo-alt: #f3f4f6;

    --espacamento: 2rem;
    --border-radius: 8px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-texto);
    line-height: 1.6;
    background-color: var(--cor-fundo);   
}

/* Tipografia base */
h1, h2, h3 {
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

/* Utilitários */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--espacamento);
}