/* Card Component */

.card {
    background-color: white;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Pseudoclasse :hover com transform */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.card__title {
    margin-bottom: 0.5rem;
    color: var(--cor-primaria);
}

.card__text {
    color: var(--cor-texto-claro);
}